<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App</title>
</head>
<body>
    ddddd
    {{units}}
    
<ul>
    {{#units}}
    <li>{{@index}}++++{{this.userId}} {{this.date}} {{this.unit}}</li>
    {{/units}}
</ul></body>
</html>